In [1]:
# Import the dependencies.
import numpy as np

import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func
import datetime as dt

from flask import Flask, jsonify

In [2]:
data = pd.read_csv("Resources/Netflix_Test_Data.csv")

In [3]:
file_db = create_engine('sqlite:///netflix.db')

In [4]:
engine = data.to_sql('Netflix_Test_Data', file_db)

In [6]:
#engine = create_engine("sqlite:///Netflix_SQL_Data.sql")

In [5]:
inspector = inspect(engine)
inspector.get_table_names()

NoInspectionAvailable: No inspection system is available for object of type <class 'int'>

In [6]:
inspector = inspect(engine)
columns = inspector.get_columns('Netflix_Test_Data')
for c in columns:
    print(c['name'], c["type"])

NoInspectionAvailable: No inspection system is available for object of type <class 'int'>

In [7]:
data.head()

,Title,OriginalTitle,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Country,TV-Rating,Description
0,The Night Agent,NaN,3/23/2023,812100000,7696,6.0,Comedy,"USA,China,Korea",R,"Lorem ipsum dolor sit amet, consectetur adipis..."
1,Ginny & Georgia,NaN,1/5/2023,665100000,5216,5.7,Action,Global,PG-13,"Lorem ipsum dolor sit amet, consectetur adipis..."
2,The Glory,더 글로리: 시즌 1,12/30/2022,622800000,11869,8.4,dystopia,"USA,China,Korea",M,"Lorem ipsum dolor sit amet, consectetur adipis..."
3,Wednesday,NaN,11/23/2022,507700000,23545,73.0,Animation,Global,PG,"Lorem ipsum dolor sit amet, consectetur adipis..."
4,Queen Charlotte: A Bridgerton Story,NaN,5/4/2023,503000000,50077,7.4,Horror,Global,G,"Lorem ipsum dolor sit amet, consectetur adipis..."